<p>shopify-redirect</p>
<div  class="loading-screen">
        <div class="loading-screen-unit" >
          <!-- <div class="loading-screen-logo"></div> -->
          <div class="loading-screen-spinner">
            <i class="nc-icon-mini loader_circle-04 spin text-white"></i>
            </div>
        </div>
      </div>