
<div class="row home-tile">
    <div class="col-xs-8">
      <img src="../common/assets/images/shopify-logo.png" alt="shopify_logo" class="img-thumbnail"
        style="width: 346px; height: 99px; margin-left: 0px; margin-right: 0px; margin-top: 0px;">
        <br><br>
        <p>  
         
          <!-- <a class="btn btn-lg btn-primary" href="#!/shopify" role="button">get started &raquo;</a> -->

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#getShopifyStore">
            get started >>
          </button>
         
          <a href="/shopify">temp >> trial >></a>
          <a href="/shopify-redirect">temp >> trial >></a>

          <!-- Modal -->
          <div class="modal fade" id="getShopifyStore" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                      <div class="row">
                          <div class="col-xs-6">
                              <img src="../common/assets/images/shopify-logo.png" alt="shopify_logo" class="img-thumbnail" style="width: 50%; height: 50%;">
                          </div>
                          
                      </div>      
                      
                  </div>
                  <div class="modal-body">
                      <div class="form-group">
                          <div class="row">
                              <div class="col-xs-8">
                                  Store Address
                                  <input id="text1" class="form-control" name="text1" placeholder="email" type="text" ng-model='shopifyStoreName'>  
                              </div>
                              <div class="col-xs-4 pull-left" style="align-self: center">
                                  <br>
                                  <label for="text1">@shopify.com</label>
                              </div>
                          </div>  
                        </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" ng-click="submitShopifyStoreAddress()" ng-disabled="showSpinner">Submit</button>
               
                    <!-- <button type="button" class="btn btn-primary">Submit</button> -->
                  </div>
                </div>
              </div>
            </div>
          <!-- <a class="btn btn-lg btn-primary" href="#!/learnMore" role="button">learn more &raquo;</a> -->
        
        </p>
    </div>

</div>


<div class="row home-tile">
    <div class="col-xs-8">
      <h1>Spreadsheet</h1>
      <img src="../common/assets/images/sheets-logo.png" alt="..." class="img-thumbnail"
      style="width: 100px; height: 100px; margin-left: 0px; margin-right: 0px; margin-top: 0px;">
      <br><br>
      <p>  
        <a class="btn btn-lg btn-primary" href="#!/spreadsheet" role="button">get started &raquo;</a>
        <!-- <a class="btn btn-lg btn-primary" href="#!/learnMore" role="button">learn more &raquo;</a> -->
       
      </p>
    </div>

</div>

