<div class="spacer-top-xl"></div>
<div class="container">

<div class="row">

    <a data-toggle="modal" data-target="#getShopifyStore">
             
        <div class="col-sm-6">
          <div class="card card-default category-widget" ng-click="openShopify()">
            <div class="card-body category-widget-icon">
              <!-- <i class="nc-icon-outline ui-1_zoom flip-y text-blue"></i> -->
              <img src="../common/assets/images/shopify-logo.png" alt="shopify_logo" class="img-thumbnail"
              style="width: 346px; height: 99px; margin-left: 0px; margin-right: 0px; margin-top: 0px;">
            </div>
           
                <div class="card-footer">
                <h4 class="category-widget-title">Shopify</h4>
                <p class="category-widget-description">
                    Get started >>
                </p>
                </div>
            
          </div>
        </div>
   </a>

        <div class="col-sm-6">
            <div id="background">
                <p id="bg-text">Coming Soon</p>
            </div>
          <div class="card card-default category-widget">
            <div class="card-body category-widget-icon">
                    <img src="../common/assets/images/sheets-logo.png" alt="..." class="img-thumbnail"
                    style="width: 100px; height: 100px; margin-left: 0px; margin-right: 0px; margin-top: 0px;">
            </div>
            <div class="card-footer" >
              <h4 class="category-widget-title">Spreadsheet</h4>
              <p class="category-widget-description">
                    Get started >>
              </p>
            </div>
          </div>
        </div>

        
      </div>
    
</div>    


<!-- container ends -->
