<div class="modal-header">
        <button type="button" class="close" ng-click="close()" ng-disabled="showSpinner">
          <span aria-hidden="true"></span>
          <span class="sr-only">Close</span>
        </button>
          <h1 class="modal-title" id="modal-title">Shopify</h1>
      </div>
      <div class="modal-body" id= "modal-body">
          <div class="row">
            <div class="col-md-4">
              <img src="../common/assets/images/shopify-bag.png" style="max-width: 100%;max-height: 100%;" alt="">
            </div>
            <div class="col-md-7">
                   Store Address : <i ng-show="showSpinner" class="nc-icon-mini loader_circle-04 spin"></i><div class="shopify-input-group">
                      <input type="text" class="ng-pristine ng-valid ng-not-empty ng-touched" ng-model="shopifyStoreName" size="33" ng-disabled="showSpinner" autofocus>
                      <span>.myshopify.com</span></div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
            <div >
              <button class="btn btn-primary" ng-disabled="toSpin" ng-click="submitShopifyStoreAddress()" ng-disabled="showSpinner">
                  <i class="nc-icon-mini loader_circle-04 spin" ng-if="toSpin" aria-label="loading"></i>
                Submit
              </button>
              <button type="button" class="btn btn-default" ng-click="close()" ng-disabled="showSpinner">Cancel</button>
            </div>
      </div>