
@import url(http://fonts.googleapis.com/css);

.jumbotron-c {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #FFFFFF;
}
.jumbotron-c h1,
.jumbotron-c .h1 {
  color: inherit;
}
.jumbotron-c p {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 100;
}
.jumbotron-c > hr {
  border-top-color: #d5d5d5;
}
.container .jumbotron-c,
.container-fluid .jumbotron-c {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
}
.jumbotron-c .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron-c {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .jumbotron-c,
  .container-fluid .jumbotron-c {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron-c h1,
  .jumbotron-c .h1 {
    font-size: 40px;
  }
}

.home-tile{
  padding-top: 30px;
  padding-bottom: 30px;
  
  
}
.selectedrow {
  background-color: rgba(194, 194, 194, 0.89) !important;
}