<div class="spacer-top-xl"></div>
<div class="container">

  <h1>Open Orders</h1>

<div>
    
    <table class="table table-condensed-extra pb-ds-crossfade">
        <thead>
            <tr>
                <th><input type="checkbox" /></th>
                <th>Order ID</th>
                <th>Product Title</th>
                <th>Shipping Address</th>
                <th>Ship Status</th>
                <th>Placed on</th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="data in orderData | filter: orderData.search">
                <td><input type="checkbox" /></th>
                <td>{{data.id}}</td>
                <td>{{data.line_items[0].title}}</td>
                <!-- <td>{{data.shipping_address.name}} {{data.shipping_address.address1}} {{data.shipping_address.city}} {{data.shipping_address.province}} {{data.shipping_address.country}}{{data.shipping_address.zip}}</td> -->
                <td><b>{{data.shipping_address.name}} </b> {{data.shipping_address.province}}  {{data.shipping_address.country}}</td>
                <td>{{orderStatus}}</td>
                <td>{{data.created_at}}</td>
                <td class="detail-toggle">
                    <a href="" class="table-row-toggle" ng-init="tables[$index].showDetails = false" 
                    ng-click="tables[$index].showDetails = !tables[$index].showDetails;toggle(account,tables[$index].showDetails,$index); setCurrentOrderIndex($index);generateRequest_GetRates()">
                    <i class="nc-icon-mini lg fw arrows-2_small-right " ng-class="{'rotate-90': tables[$index].showDetails}"></i>
                  
                    </a>                
                </td>
            </tr>
            <tr uib-collapse="!tables[$index].showDetails" ng-repeat-end="data in orderData | filter: orderData.search">
                <td> </td>
                <td colspan="6">
                  <h3>Select Carrier/Service</h3>
                  <i class="nc-icon-mini loader_circle-04 spin" ng-if="rate_toSpin" aria-label="loading"></i>
                <table class="table table-hover table-condensed-extra inner-table">
                    <thead>
                        <tr style="border: 0px;">                    
                            <th>Carrier</th>
                            <th>Service ID</th>
                            <th>Rate Type</th>
                            <th>Base Charge</th>
                            <th>Total Charge</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr class="bg-light" style="border: 0px;" ng-repeat="rate in ratesData" 
                        ng-click="setSelected(rate.serviceId); setCurrentRateIndex($index)" 
                        ng-class="{selectedrow : rate.serviceId === isRateSelected}">
                            <!-- <div ng-class="{'selectedrow' : rate.serviceId === isRateSelected}"> -->
                                <td>{{rate.carrier}}</td>
                                <td>{{rate.serviceId}}</td>
                                <td>{{rate.rateTypeId}}</td>
                                <td>{{rate.baseCharge}}</td>
                                <td>{{rate.totalCarrierCharge}}</td>  
                            <!-- </div>                    -->
                        </tr>
                    </tbody>
                </table>
                  <button class="btn btn-primary btn-xs" ng-show="isRateSelected" ng-disabled="ship_toSpin" ng-click="printPDFLabel()">
                        <i class="nc-icon-mini loader_circle-04 spin" ng-if="ship_toSpin" aria-label="loading"></i>
                        Shipify
                  </button>
                  <button class="btn btn-default btn-xs" ng-show="isRateSelected" ng-click="cancelSelection()">Cancel</button>
                  <div class="spacer-top-sm"></div>
                  
                  <ul ng-if="showShipmentDetails">
                      <li><code>Shipment ID : {{shipmentId}}</code></li>
                      <li><code>Parcel Tracking ID: {{parcelTrackingNumber}}</code></li>
                      <li><code>Label URL: <a target="_blank" href="{{pdfURL}}">{{pdfURL}}
                            <i class="nc-icon-outline arrows-1_share-66"></i>  
                        </a></code></li>
                  </ul>
                </td>
            </tr>
        </tbody>
    </table>

</div>

</div>