<!-- <div> -->
        <div class="welcome welcome-bg-img">
        <main>
          <div class="bg bg-img">
            <div class="main-block">
              <div class="text-center">
                <h1>Welcome to Shipify &copy;</h1>
        
                <h2>Ecommerce integration for hassle-free shiping</h2>
        
                <div class="body-text">
                  <p><strong>Cost efficient, easy-to-use application for SMB</strong></p>
        
                </div>
        
                 <div class="spacer-top-xl">
                   <a class="btn btn-default" href="/home">Get started</a>
                   
                 </div>
              </div>
            </div>
          </div>
        </main>
        </div>
        
        <div class="container">
          <div class="row spacer-top-lg">
            <div class="col-md-3"><center><img src="../common/assets/images/pb_brand_icons_01_Shipping.svg"></center>
                <br><center><h3>E-Comm Integration</h3></center>
            </div>
            <div class="col-md-3"><center><img src="../common/assets/images/pb_brand_icons_11_Digital_Transactions.svg"></center>
                <br> <center><h3>Sigle Mobile Platform</h3></center>
            </div>
            <div class="col-md-3"><center><img src="../common/assets/images/pb_brand_icons_06_Money_Savings.svg"></center>
                <br> <center><h3>Optimum cost selection</h3></center>
            </div>
            <div class="col-md-3"><center><img src="../common/assets/images/pb_brand_icons_02_Time_Savings.svg"></center>
                <br><center><h3>Save Time on multiple order entry</h3></center>
            </div>
          </div>
          <!-- <div class="row spacer-top-sm">
            <div class="col-md-3"><center><h3>E-Comm Integration</h3></center></div>
             <div class="col-md-3"><center><h3>Sigle Mobile Platform</h3></center></div>
            <div class="col-md-3"><center><h3>Optimum cost selection</h3></center></div>
            <div class="col-md-3"><center><h3>Save Time on multiple order entry</h3></center></div>
          </div>   -->
        </div>
        <!-- </div> -->
        